body {
	background-color: lightgray;
}

#imagen-fondo {
	background-image: url(../assets/img/Fondo-tarjeta-iconos-01.png);
	height: 320px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
	
}

#seccion-aliados {
	background-color: white;
	height: 50px;


}
#seccion-avisos {
	background-color: black;
	height: 90px;
	color: white;
	font-family: bold, helvetica;
	font-weight: bold;
}

#seccion-avisos p{
	margin-top: 7px;
	margin-bottom: 0;
}


#confidencialidad {
	border-left: 3px solid white;
	text-align: center;
}

#confidencialidad .texto-confidencial {
	font-size: 13px;
	margin-top: 0px;
	line-height: initial;
    text-align: justify;
}

#aviso-privacidad .texto-privacidad {
	font-size: 13px; 
	line-height: initial;
    text-align: justify;
    margin-top: 0px;
}

#aviso-privacidad .texto-privacidad a{
	font-size: 14px;
	font-weight: bold;
	color: white;
	
}

.imagen1 img,
.imagen2 img,
.imagen3 img,
.imagen4 img,
.imagen5 img,
.imagen6 img,
.imagen7 img,
.imagen8 img{
	height: 40px;

}

.imagen1 img {
	margin: 5px 8px;
}
.imagen2 img {
	margin: 5px 8px;
}
.imagen3 img {
	margin: 5px 8px;
}
.imagen4 img {
	margin: 5px 8px;
}
.imagen5 img {
	margin: 5px 8px;
}
.imagen6 img {
	margin: 5px 10px;
}
.imagen7 img {
	margin: 5px 10px;
}
.imagen8 img {
	margin: 5px 10px;
}

.medios .facebook  {
	position: absolute;
    top: 218px;
    left: 229px;
    color: white;
    font-size: 20px;
}

.medios .twitter  {
	position: absolute;
    top: 260px;
    left: 229px;
    color: white;
    font-size: 20px;
}

.contacto .mail {
	position: absolute;
    top: 117px;
    right: 400px;
    color: white;
    font-size: 20px;
}

.contacto .telefono {
	position: absolute;
    top: 160px;
    right: 508px;
    color: white;
    font-size: 20px;
}

.contacto .pagina {
	position: absolute;
    top: 203px;
    right: 464px;
    color: white;
    font-size: 20px;
}
.contacto .direccion {
	position: absolute;
    top: 251px;
    right: 302px;
    color: white;
    font-size: 20px;
    line-height: initial;
}

.contacto h3 {
	 position: absolute;
    top: 25px;
    right: 148px;
    color: white;
    font-size: 38px;
    font-family: bold, helvetica;
    line-height: initial;

}

.contacto p {
	position: absolute;
    top: 70px;
    right: 287px;
    color: white;
    font-size: 20px;
    line-height: initial;

}

